/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Responsive Framework CSS Rules Start                                                               */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 240px) {
     .pageContentWrapper{
        min-height: 350px;
    }
    .pageContentWrapper img{
        width:80%;
        height:25%;
        margin: 0 auto;
        margin-top:15%;
    }
    
    .pageContentWrapper input{
        margin-top:15%;
        margin-bottom:50px;; 
    }
}


@media screen and (min-width: 300px) {
    .pageContentWrapper{
        min-height: 380px;
    }
    .pageContentWrapper img{
        width:80%;
        height:25%;
        margin: 0 auto;
        margin-top:15%;
    }
    
    .pageContentWrapper input{
        margin-top:15%;
        margin-bottom:50px;; 
    }
}


@media screen and (min-width: 480px) {
   .pageContentWrapper{
        min-height: 880px;
    }
    .pageContentWrapper img{
        width:80%;
        height:15%;
        margin: 0 auto;
        margin-top:30%;
    }
    
    .pageContentWrapper input{
        margin-top:15%;
        margin-bottom:50px;; 
    }
}

@media screen and (min-width: 600px) {
   .pageContentWrapper{
        min-height: 700px;
    }
    .pageContentWrapper img{
        width:60%;
        height:20%;
        margin: 0 auto;
        margin-top:20%;
    }
    
    .pageContentWrapper input{
        margin-top:15%;
        margin-bottom:50px;; 
    }
}

@media screen and (min-width: 768px) {
   .pageContentWrapper{
        min-height: 900px;
    }
    .pageContentWrapper img{
        width:60%;
        height:40%;
        margin: 0 auto;
        margin-top:40%;
    }
    
    .pageContentWrapper input{
        margin-top:10%;
        margin-bottom:50px;; 
    }
}

@media screen and (min-width: 800px) {
    .pageContentWrapper{
        min-height: 1280px;
    }
    .pageContentWrapper img{
        width:60%;
        height:20%;
        margin: 0 auto;
        margin-top:20%;
    }
    
    .pageContentWrapper input{
        margin-top:10%;
        margin-bottom:50px;; 
    }
}

@media screen and (min-width: 1024px) {
    .pageContentWrapper{
        min-height: 780px;
    }
    .pageContentWrapper img{
        width:60%;
        height:10%;
        margin: 0 auto;
        margin-top:20%;
    }
    
    .pageContentWrapper input{
        margin-top:10%;
        margin-bottom:50px;; 
    }
}




/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Responsive Framework CSS Rules End                                                                 */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
